@import '../../routes/layout/layout.scss';
.searchBar {
    .type{

        button{
            padding: 16px 36px;
            border: 1px solid peru;
            background-color: white;
            cursor: pointer;
            text-transform: capitalize;


        &.active{
                background-color: rgb(0, 0, 0);
                color: white;
        }

    }
 }

 form {
    border: 1px solid peru;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap: 5px;

    @include sm{
        flex-direction: column;
        border: none;
    }

    input {
        border: none;
        padding: 0 20px;
        width: 200px;
        font-size: 16px;

        @include lg {
            padding: 0px 5px;

            &:nth-child(2), &:nth-child(3) 
            {
                width: 140px;
            }
        }

        @include md {
            width: 200px;
            &:nth-child(2), &:nth-child(3) {
                width: 200px;
            }
        }

        @include sm {
            width: auto;
            &:nth-child(2), &:nth-child(3) {
                width: auto;
            }
            padding: 20px;
            border: 1px solid peru;
        }
    }

    button {
        background-color: rgb(234, 190, 16);
        color: rgb(0, 0, 0);
        border: none;
        padding: 0 20px;
        cursor: pointer;

        @include sm{
            padding: 20px;
            width: 50%;
            margin-left: 25%;
        }
    }
 }


}